<html>
    <head>
        <title>Helper Bird </title>
        <link href="assets/css/bootstrap/bootstrap.css" rel="stylesheet">
        <link href="assets/css/roboto.min.css" rel="stylesheet">
        <link href="assets/css/material.min.css" rel="stylesheet">
        <link href="assets/css/ripples.min.css" rel="stylesheet">
        <link href="assets/css/sepc.css" rel="stylesheet">
          <script src="assets/js/angular.min.js"></script>

    </head>

    <body ng-app="Robin" ng-controller="core">
        <div class="header-panel shadow-z-1" style="background-color:#00BCD4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 style="color:white">Helper Bird</h4>
              </div>
            </div>
          </div>
        </div>
        
        <div class="container-fluid main">
            <p id="status"></p>
            <br/>
            <p class="text-muted">Change Font</p>
            <div class="togglebutton">
                <label id="stat"><input type="checkbox" id="like" checked="0" > off/on</label>
            </div>
    <hr>

                            <div class="form-group">
                                <h4>Theme</h4>
                                <ul id="pick_colors">
                                    <li><span class="colors" id="color_Red" ng-click="setColor('#F44336')" ><span ng-if="theme[0][0]['color'] === '#F44336'"><i class="mdi-action-done"></i> </span></span></li>
                                    <li><span class="colors" id="color_Blue" ng-click="setColor('#03A9F4')"><span ng-if="theme[0][0]['color'] === '#03A9F4'"><i class="mdi-action-done"></i> </span> </span></li>
                                    <li><span class="colors" id="color_Green" ng-click="setColor('#009688')"> <span ng-if="theme[0][0]['color'] === '#009688'"><i class="mdi-action-done"></i> </span></span></li>
                                    <li><span class="colors" id="color_Brown" ng-click="setColor('#795548')"> <span ng-if="theme[0][0]['color'] === '#795548'"><i class="mdi-action-done"></i> </span></span></li>
                                    <li><span class="colors" id="color_Grey" ng-click="setColor('#9E9E9E')" > <span ng-if="theme[0][0]['color'] === '#9E9E9E'"><i class="mdi-action-done"></i> </span></span></li>
                                </ul>
                            </div>
                        

            
            <br/>    
            <br/>
          
        </div>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/ripples.min.js"></script>    
        <script src="assets/js/material.js"></script>
        <script src="assets/js/start.js"></script>
       
        <script src="assets/js/options.js"></script>
        
        
        
        
        
        
    <script src="assests/js/angular/core.js"></script>
    <script src="assests/js/angular/info.js"></script>
     
  
    </body>
</html>




